/* Style the side navigation */
#sidenav {
    border: 2px solid var(--theme-color);
    position: fixed;
    z-index: 2;
    margin: 10px;
    background-color: black;
    box-shadow: 4px 4px 12px black;
    overflow-x: hidden;
    width: 56px;
    max-height: 56px;
    border-radius: 10px;
    transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* Opens the sidenav*/
#sidenav.active {
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 200px;
  height: fit-content;
  max-height: 94vh;
  border-radius: 20px; 
}

/* Button image of the sidenav*/
#sidenav img {
  object-fit: scale-down;
  display: block;
  border-radius: 5px;
  margin: 5px auto; 
  height: 40px;
  width: 100%;
  cursor: pointer;
}

/* Holds all the navlinks in the sidenav*/
#sidenav div {
  overflow: scroll;
  max-height: 65vh;
}

/* Side navigation title */
#sidenav h3 {
    margin-top: 20px;
    padding: 0 4px;
    text-align: center;
    font-size: 28px;
}
  
/* Side navigation links */
#sidenav a {
    display: block;
    padding: 12px;
    margin: 20px 20px;
    overflow: hidden;
}

main {
  margin-top: 20px;
}

/* Div that hold the header and image */
header div {
  margin-top: 12vw !important;
  max-height: 16vw;
  max-width: 100%;
  width: calc(400px + 30vw);
}

/* Header Text */
header h2 {
  height: 30%;
  font-size: calc(12px + 3vw);
}

/* Header Image */
header img {
  position: absolute;
  top: calc(22px + 4vw);
  left: 0;
  max-height: 70%;
  width: 100%;
}

.shadowImage{
  position: absolute;
  top: calc(22px + 4vw + 4px);
  left: 4px;
  z-index: -1;
  max-height: 70%;
  max-width: 100%;
  filter: blur(4px) brightness(0%);
}

/* Footer of the page*/
footer h2 {
  height: 200px;
  line-height: 150px;
  text-align: center;
}

/* Mars background image */
footer {
  width: 100%;
  background-image: url("Images/Mars.jpg");
  background-color: black;
  height: 300px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

footer a, footer .theme{
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  border-radius: 1000px;
  border: 2px solid var(--theme-color);
  margin: 0 10px;
  animation: fade 0.2s;
  overflow: hidden;
  width: auto;
}

footer div select {
  font-size: 14px;
  background-color: black;
}