/* Makes rows stack properly */
.row::after{
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
  
    /* Width for phones */
    width: 100%;
  }
  
  /* For tablets */
  @media only screen and (min-width: 768px){
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
  }
  
  /* For desktop */
  @media only screen and (min-width: 1280px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
  /* For widesceen */
  @media only screen and (min-width: 1600px){
    .col-w-1 {width: 8.33%;}
    .col-w-2 {width: 16.66%;}
    .col-w-3 {width: 25%;}
    .col-w-4 {width: 33.33%;}
    .col-w-5 {width: 41.66%;}
    .col-w-6 {width: 50%;}
    .col-w-7 {width: 58.33%;}
    .col-w-8 {width: 66.66%}
    .col-w-9 {width: 75%;}
    .col-w-10 {width: 83.33%;}
    .col-w-11 {width: 91.66%;}
    .col-w-12 {width: 100%;}
  }

@keyframes fadeIn { from { opacity:0; top: 80px;} to { opacity:1; top: 20px;} }

.fade-in {
  opacity: 0;
  animation:fadeIn ease 1;
  animation-fill-mode: forwards;
  animation-duration:1s;
}

.fade-in.one {animation-delay: 0.5s;}
.fade-in.two {animation-delay: 1s;}
.fade-in.three {animation-delay: 2s;}