:root {
  --theme-color: lightgrey;
  --border-radius: 10px;
}

/* Makes rows stack properly */
.row::after{
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    /* Width for phones */
    width: 100%;
  }
  
  /* For tablets */
  @media only screen and (min-width: 768px){
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
  }
  
  /* For desktop */
  @media only screen and (min-width: 1280px){
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
  /* For widesceen */
  @media only screen and (min-width: 1600px){
    .col-w-1 {width: 8.33%;}
    .col-w-2 {width: 16.66%;}
    .col-w-3 {width: 25%;}
    .col-w-4 {width: 33.33%;}
    .col-w-5 {width: 41.66%;}
    .col-w-6 {width: 50%;}
    .col-w-7 {width: 58.33%;}
    .col-w-8 {width: 66.66%}
    .col-w-9 {width: 75%;}
    .col-w-10 {width: 83.33%;}
    .col-w-11 {width: 91.66%;}
    .col-w-12 {width: 100%;}
  }

@keyframes fadeIn { from { opacity:0; top: 80px;} to { opacity:1; top: 0px;} }

.fade-in {
  opacity: 0;
  animation:fadeIn ease 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  position: relative;
}

.fade-in.d0 {animation-delay: 0;}
.fade-in.d250 {animation-delay: 250ms;}
.fade-in.d500 {animation-delay: 500ms;}
.fade-in.d750 {animation-delay: 750ms;}
.fade-in.d1000 {animation-delay: 1000ms;}
.fade-in.d1500 {animation-delay: 1500ms;}

.navbar {
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
}

.navBar a, .navbar div {
  line-height: 22px;
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  border-radius: 1000px;
  border: 2px solid var(--theme-color);
  margin: 10px 10px;
  animation: fade 0.2s;
  overflow: hidden;
  width: auto;
  height: 50px;
  background-color: black;
}

.navbar div {
  padding: 0;
}

.navbar select {
  position: relative;
  text-align: center;
  font-size: 18px;
  top: 8px;
  background-color: black;
  font-family: monospace;
}

.navBar a:hover {
  animation: highlight 0.4s;
  background-color: var(--theme-color);;
  color: black;
  cursor: pointer;
}

.navbar select:hover {
  cursor: pointer;
}

.background-img {
  background-image: url("Images/Earth.jpg"), url("Images/stars.png");
  background-color: black;
  height: 200px;
  background-position: top;
  background-repeat: no-repeat, repeat-y;
  background-size: contain;
}