header div {
  margin-top: 11vw !important;
}

header h1 {
  font-size: calc(14px + 2vw) !important;
  line-height: 1.4 !important;
}

/* Header Text */
header h2 {
  font-size: calc(4px + 2vw) !important;
  line-height: 1.4 !important;
}

/* Header Text */
header h2 {
    margin-bottom: 436px;
    line-height: 30px;
    font-size: 24px;
    font-weight: 400;
} */

.content {
  height: fit-content;
  padding: 0;
}

.content div {
  height: 500px;
  border-bottom: 2px solid var(--theme-color);
}

.content p, table{
  text-align: center;
  padding: 20px; 
  margin: 0;
  font-size: calc(12px + 0.5vw);
  line-height: 1.4;
  border-collapse: collapse;
}

table {
  height: 500px;
}

th, td {
  text-align: center;
  border: 2px solid var(--theme-color);
  width: 50%;
}

.content select {
  display: inline-block;
  font-size: 20px;
  background-color: black;
  height: 30px;
  margin: 10px 0;
}

#rocket_image {
  max-height: 400px;
}

#rocket_select {
  height: 50px;
  margin-top: 25px;
  width: 200px;
  border-radius: 100px;
  border: 2px solid var(--theme-color);
  text-align: center;
  text-align-last: center;
}