.content {
  border: none;
}

.content h2 {
  font-size: calc(18px + 1vw);
  line-height: calc(20px + 1vw);
}

.content p {
font-size: calc(12px + 1vw);
line-height: calc(14px + 1vw);
}

header div {
  margin-top: 11vw !important;
}

/* Header Text */
header h2 {
  font-size: calc(10px + 2vw);
  line-height: calc(10px + 2vw);
  text-shadow: 4px 4px 4px black;
}

.button {
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 1000px;
    border: 2px solid var(--theme-color);
    margin: 0 10px;
    animation: fade 0.2s;
    overflow: hidden;
    width: auto;
  }
  
.button:hover {
    animation: highlight 0.4s;
    background-color: var(--theme-color);
    color: black;
    cursor: pointer;
  }

  @keyframes highlight {
    from {background-color: black; color: var(--theme-color);}
    to {background-color: var(--theme-color); color: black;}
  }

  @keyframes fade {
    from {background-color: var(--theme-color); color: black;}
    to {background-color: black; color: var(--theme-color);}
}